# Node
node_modules/
dist/
.vite/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
.yarn/
.parcel-cache/

# Env
.env

# Python (на всякий)
.venv/
venv/
__pycache__/
*.pyc

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
